/* stylelint-disable at-rule-no-unknown */

/* В корне должна быть папка styles для  tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen {
    min-height: calc(100vh - 64px);
}

input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}
