.description {
    display: -webkit-box;

    overflow: hidden;

    height: 7rem;
    margin-top: 1rem;

    text-overflow: ellipsis;

    line-height: 1.4rem;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.title {
    display: -webkit-box;

    overflow: hidden;

    height: 1.6rem;

    text-overflow: ellipsis;

    line-height: 1.6rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}